<h1>Reserva de Sala</h1>

<table id="bookings" class="table">
  <thead>
    <tr>
      <th>Horário</th>
      <% current_week.each do |date| %>
        <th><%= t date.strftime("%A") %></th>
      <% end %>
    </tr>
  </thead>
  <% booking_hours.each do |hour| %>
  <tr>
    <td>
      <%= number_to_hour(hour) %>
    </td>
    <% current_week.each do |date| %>
    <td class="booking" data-since="<%= booking_datetime(date, hour) %>" data-until="<%= booking_datetime(date, hour + 1) %>">
      <a href="#" class="btn btn-default">disponível</a>
    </td>
    <% end %>
  </tr>
  <% end %>
</div>
