<h1>Reserva de Sala</h1>

<table class="table">
  <thead>
    <tr>
      <th>Horário</th>
      <% current_week.each do |date| %>
        <th><%= t date.strftime("%A") %></th>
      <% end %>
    </tr>
  </thead>
  <% booking_hours.each do |hour| %>
  <tr>
    <td>
      <%= number_to_hour(hour) %>
    </td>
    <% current_week.each do |date| %>
    <td id="<%= booking_datetime(date, hour) %>">Disponível</td>
    <% end %>
  </tr>
  <% end %>
</div>
