// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#bookings {
  td, th {
    text-align: center;
  }
  td {
    width: 10%;
  }
  td.booking {
    width: 18%;
  }
}
